#name{
    width: 100%;
    margin-top: 5px;
    background-color:#808080;    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}


.flexContainer {
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif
  }
    .flexContainer > div {
        background-color: gainsboro;
        width: 320px;
        height: 300px;
        margin: 10px;
    }
  
    .flexContainer img {
        border: 1px solid white;
        border-radius: 4px;
        width: 270px;
        height: 250px;
        box-sizing: border-box;
        font-size: 12px;
        filter: grayscale(60%);

        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    .flexContainer img:hover {
        filter: grayscale(0);
    }

    h6{
        font-size: 17px;
        text-align: center;
        padding-top: 5px;
    }

    .project-tab #tabs{
        background: #007b5e;
        color: #eee;
    }
    .project-tab #tabs h6.section-title{
        color: #eee;
    }
    .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #0062cc;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: bold;
    }
    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color:black;
        font-size: 16px;
        font-weight: 600;
    }
    .project-tab .nav-link:hover {
        border: none;
    }
    .project-tab thead{
        background: #f3f3f3;
        color: #333;
    }
    .project-tab a{
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

    section {
        margin-top:5px;
    }

    .imageContainer{
        background-color:#808080;    
    }
  
    .lb-nav a.lb-next{
        opacity:0.31!important;
    }

    .lb-nav a.lb-prev{
        opacity:0.31!important;
    }